.hero {
  .hero-body {
    padding: 1.5rem;
  }
}
.section-two {
  .card {
    min-height: 315px;
  }
}
.section-one {
  .is-box {
    padding: 0 1.25rem;
  }
}
.content {
  .SURtitle{
    color: red;
  }
}
.content {
  .title {
    font-size: 1.2rem
  }
  .subtitle {
    font-size: 1rem
  }
}
.is-780x440 {
  width: 780px;
  height: 480px;
}
.is-378x214 {
  width: 378px;
  height: 214px;
}
.is-266x152 {
  width: 266px;
  height: 152px;
}

.is-340x146 {
  width: 340px;
  height: 146px;
}

.is-fullwidth {
  width: 100%;
}
.media-content.is-center {
  text-align: center;
}

.box {
  .is-border-bottom {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid lightgray;
  }
}

.box.is-paddingless-bottom {
  padding-bottom: 0;
}

.is-border-right {

  border-right: 1px solid lightgray;
}
.tile .is-child {
  &:last-child {
    .is-border-right {
      border-right: none;
    }
  }
}

.is-flex-mobile.is-center {
  justify-content: center;
}