.hero .hero-body {
  padding: 1.5rem; }

.section-two .card {
  min-height: 315px; }

.section-one .BigBoxArticle .image {
  max-width: 853px; }

@media screen and (max-width: 769px) {
  .section-one .CardArticle .columns {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.section-one .CardArticle .image {
  max-width: 432px;
  margin: 0 auto; }

.section-one .is-box {
  padding: 0 1.25rem; }

.BoxArticle .box {
  height: 200px; }
  .BoxArticle .box .image {
    max-width: 266px; }
  .BoxArticle .box .content.column {
    padding: 15px; }

.Podcast .image {
  max-width: 340px; }

.Podcast .has-text-centered {
  margin: auto; }

.content .SURtitle {
  color: red; }

.content .title {
  font-size: 1.2rem; }

.content .subtitle {
  font-size: 1rem; }

.is-340x146 {
  width: 340px;
  height: 146px; }

.media-content.is-center {
  text-align: center; }

.box .is-border-bottom {
  padding-bottom: 1.25rem;
  border-bottom: 1px solid lightgray; }

.box.is-paddingless-bottom {
  padding-bottom: 0; }

.is-border-right {
  border-right: 1px solid lightgray; }

.tile .is-child:last-child .is-border-right {
  border-right: none; }

.is-flex-mobile.is-center {
  justify-content: center; }
