@import "../../assets/stylesheets/globals";

.home{
  .hero {
    .hero-body {
      padding: 1.5rem;
      @media #{$media-mobile} {
        .title{font-size: 1.2rem}
        .subtitle{font-size: 0.8rem}
      }
    }
  }
  &__section-one {
    .BigBoxArticle {
      position: relative;
      padding: 0 0 15px 0 !important;
      .image {
        max-width: $max-width-img-large;
      }
      &:after {
        content: '';
        position: absolute;
        left: 1.25rem;
        right: 1.25rem;
        bottom: 0;
        @include bottom-shadow;
      }
      @media #{$media-tablet} {
        .columns {
          flex-direction: column;
        }
      }
    }

    .container.container_BigBoxArticle {
      padding: 15px 15px 0 15px;
      background: $grey-soft;
    }
    .column {
      &:last-child {
        .box__block {
          border-right: none;
        }
      }
    }

    .CardArticle {
      .box {
        padding: 1rem 0 0 0 !important;
        width: 100%;
        position: relative;
        .navbar-brand{
          height: 100%;
        }
        &__block {
          padding: 0 1.25rem;
          width: 100%;

          .card-content{
            padding: 1rem;
          }
          .content {
            max-height: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 !important;
            .title {
              font-size: 1rem;
            }
            .SURtitle {
              font-size: 0.8rem;
            }
          }
        }
        &:after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 1.25rem;
          top: 1.25rem;
          @include right-shadow;
        }
      }


      @media #{$media-tablet}{
        .columns {
          .box {
            position: relative;
            &__block {
              border-right: none;
              padding: 0;
            }
            &:after {
              content: '';
              position: absolute;
              left: 1.25rem;
              right: 1.25rem;
              bottom: 0;
              @include bottom-shadow;
              border-right: none;
            }
          }
        }
      }
    }
    .is-box {
      padding: 0 1.25rem;
    }
  }
}

.container.cards {
  padding: 0 15px 0 15px;
  background: $grey-soft;
}


.section-two {
  .card {
    min-height: 315px;
  }
}

.BoxArticle {
  @media #{$media-tablet} {
    .columns {
      flex-direction: column;
      flex: 1;
    }
  }
  .box{
    .columns {
      width: 100%;
    }
    .image {
      max-width: 266px;
    }
  }
  .content{
    padding: 0.8rem 0.5rem 0.5rem 0;
    .SURtitle {
      font-size: 0.8rem;
    }
    .title {
      font-size: 1rem;
    }
  }
}
.Podcast {
  .image {
    max-width: 340px;
  }
  .has-text-centered {
    margin: auto;
  }
}
.content {
  .SURtitle{
    color: red;
  }
}
.content {
  .title {
    font-size: 1.2rem
  }
  .subtitle {
    font-size: 1rem
  }
}


.media-content.is-center {
  text-align: center;
}

.box {
  .is-border-bottom {
    padding-bottom: 1.25rem;
  }
}

.box.is-paddingless-bottom {
  padding-bottom: 0;
}

.is-border-right {

  border-right: 1px solid lightgray;
}
.tile .is-child {
  &:last-child {
    .is-border-right {
      border-right: none;
    }
  }
}

.column .content{
  padding: 15px !important;
}

.responsive-img {
  background-color: #f0f0f0;
  height: 0;
  position: relative;
  padding-top: 56% !important;
  overflow: hidden;
  img{
    position: absolute;
    height: auto;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
  }
}
.podcast {
  padding-top: 42% !important;
}