@import "../../assets/stylesheets/globals";

.home{
  .hero {
    .hero-body {
      padding: 1.5rem;
    }
  }
  &__section-one {
    .BigBoxArticle {
      position: relative;
      padding: 0 0 15px 0 !important;

      .image {
        max-width: $max-width-img-large;
        min-width: $max-width-img-medium;
      }
      &:after {
        content: '';
        position: absolute;
        left: 1.25rem;
        right: 1.25rem;
        bottom: 0;
        @include bottom-shadow;
      }
    }

    .container.container_BigBoxArticle {
      padding: 15px 15px 0 15px;
      background: $grey-soft;
    }
    .column {
      &:last-child {
        .box__block {
          border-right: none;
        }
      }
    }
    .CardArticle {
      .box {
        padding: 1rem 0 0 0 !important;
        width: 100%;
        //height: 350px;
        .image {
          max-width: $max-width-img-medium;
          //min-width: 300px;
          max-height: 223px;
          overflow: hidden;
          margin: 0 auto;
        }
        .navbar-brand{
          height: 100%;
        }



        &__block {
          padding: 0 1.25rem;
          border-right: 1px solid $grey-light;
          width: 100%;

          .card-content{
            padding: 1rem;
            max-height: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .content {

            .title {
              font-size: 1rem;
            }
            .SURtitle {
              font-size: 0.8rem;
            }
          }
        }

      }
      @media #{$media-desktop-short}{
        .column__Img {
          // width: 100%;
          flex: unset;
        }
        .image {
          max-width: $max-width-img-medium;
          min-width: 222px;
        }
      }
      @media #{$media-between-tablet-and-mobile}{
        .box {
          position: relative;
          &__block {
            border-right: none;
            padding: 0 0 1rem 0;
          }
          &:after {
            content: '';
            position: absolute;
            left: 1.25rem;
            right: 1.25rem;
            bottom: 0;
            @include bottom-shadow;
          }
          .card{
            display: flex !important;
            justify-content: space-between;
            .image {
              order: 2
            ;
            }
          }
          .column__Img {
            // width: 100%;
            flex: unset;
          }
          .image {
            max-width: $max-width-img-medium;
            min-width: 380px;
            margin: 0;
          }
        }
      }
      @media #{$media-tablet}{
        .columns {
          display: flex;
          flex-direction: column;
          align-items: center;
          .column {
            width: 100%;
            .box {
              width: 100%;
              &__block{
                width: 100%;
                .image {
                  max-width: $max-width-img-medium;
                  min-width: 380px;
                  margin: 0 auto;
                }
              }
            }
          }
          .box__block {
            border-right: none;
            @include bottom-shadow;
            //border-bottom: 1px solid $grey-light;
          }
        }
      }
    }
    .is-box {
      padding: 0 1.25rem;
    }


  }
  .box{
    @media #{$media-between-tablet-and-mobile}{
      .column__Img {
        // width: 100%;
        flex: unset;
      }
      .image {
        max-width: $max-width-img-medium;
        min-width: 380px;
      }
    }
    @media #{$media-tablet}{
      .columns{
        display: flex;
      }
      .image {
        max-width: $max-width-img-medium;
        min-width: 380px;
        margin: 0 auto;
      }
    }
    @media #{$media-mobile} {
      .columns {
        .columns__Content {
          order: 2;
        }
      }
    }
    //&:after {
    //  content: '';
    //  position: absolute;
    //  left: 1.25rem;
    //  right: 1.25rem;
    //  bottom: 0;
    //  @include bottom-shadow;
    //}
  }
}

.container.cards {
  padding: 0 15px 0 15px;
  background: $grey-soft;
}


.section-two {
  .card {
    min-height: 315px;
  }
}

.BoxArticle {
  .box{
    // min-height: 180px;
    .image {
      max-width: 266px;
    }
    //.content.column{
    //  padding: 15px;
    //}
  }
  .content{
    padding: 0.8rem 0.5rem 0.5rem 0;
    .SURtitle {
      font-size: 0.8rem;
    }
    .title {
      font-size: 1rem;
    }
  }
  @media #{$media-desktop}{
    .box {
      .columns {
        //display: flex;
        //flex-direction: column;
        .column__Img {
          // width: 100%;
          flex: auto;
        }
        .image {
          max-width: $max-width-img-medium;
          min-width: 380px;
        }
      }
    }
  }
  @media #{$media-desktop-short}{
    .columns {
      margin: 0 auto;
      width: 100%;
      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: inherit;
        .box {
          width: 100%;
          &__block{
            width: 100%;
          }
        }
      }
      .box__block {
        border-right: none;
        //border-bottom: 1px solid $grey-light;
      }
    }
  }
}
.Podcast {
  .image {
    max-width: 340px;
  }
  .has-text-centered {
    margin: auto;
  }
}
.content {
  .SURtitle{
    color: red;
  }
}
.content {
  .title {
    font-size: 1.2rem
  }
  .subtitle {
    font-size: 1rem
  }
}


.media-content.is-center {
  text-align: center;
}

.box {
  .is-border-bottom {
    padding-bottom: 1.25rem;
    //border-bottom: 1px solid $grey-light;
  }
}

.box.is-paddingless-bottom {
  padding-bottom: 0;
}

.is-border-right {

  border-right: 1px solid lightgray;
}
.tile .is-child {
  &:last-child {
    .is-border-right {
      border-right: none;
    }
  }
}

.is-flex-mobile.is-center {
  justify-content: center;
}

.column .content{
  padding: 15px !important;
}