.article{
  .hero-body {
    padding: 0.5rem 1.5rem;
  }
  .image img {
      height: 300px;
      resizeMode: 'cover';

  }
  .container {
    width: 100%;
    .media {
      width: 100%;
    }
  }
}