.article .hero-body {
  padding: 0.5rem 1.5rem; }

.article .image img {
  height: 300px;
  resizeMode: 'cover'; }

.article .container {
  width: 100%; }
  .article .container .media {
    width: 100%; }
