.article .hero-body {
  padding: 0.5rem 1.5rem; }

.article .image {
  max-height: 300px;
  overflow: hidden; }

.article__title {
  font-size: 2.2rem; }

.article__body .image {
  max-width: 230px; }
